table {
	width: 800px;
}
#example{
	margin-top: 20px;	
}
.form-inline{
	margin-bottom: 10px;
}
.form-group{
	margin-right: 20px;
}
body{
	overflow-y:scroll;
}
#gotoTop{
	width: 50px;
	height: 50px;	
	position: fixed;
	bottom: 10px;
	right: 50px;
	border: 1px solid #B7B7B7;
    color: #9E9D9D;
    background: #FBFBFB;
}
.glyphicon.glyphicon-menu-up{
	font-size: 30px;
	padding: 10px;
}
